.navbar #nav{
    list-style: none;
    padding-left: 10px;

}
.navbar{
    background-color: rgb(50, 114, 70);
    height: 30px;
    padding: 0px;

}
.navbar .btn{
    color: aliceblue;
    text-decoration: none;
}
.navbar #nav li{
    display: inline;
    margin-right: 20px;

}